<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base target="_top">
    <!-- <script src="https://cdn.tailwindcss.com"></script>     -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://stevenlevithan.com/assets/misc/date.format.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use a templated HTML printing scriptlet to import common stylesheet -->
    <style>
        <?!= HtmlService.createHtmlOutputFromFile('src/templates/output.html').getContent() ?>
        .horizontal {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 10px;
        }
        .vertical {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: left;
            padding: 10px;
        }
    </style>
    <script>
        function myFunction() {
            console.log("myFunction");
            let email = document.getElementById("email").value;
            let subject = document.getElementById("subject").value;
            let intention = document.getElementById("large-input").value;
            const dialog = document.getElementById('dialog-1');
            const runner = google.script.run.withSuccessHandler(function(){google.script.host.close();}).withFailureHandler(function(){window.alert("Błąd! Nie udało się uruchomić funkcji!");dialog.close();});
            dialog.showModal();
            runner.sendMailCallback(email, subject, intention);
        }
        $(()=>document.getElementById("form1").addEventListener("submit", myFunction))
    </script>
  </head>
  <body>
    <div class="vertical">
        <form action="" id="form1">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
            <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" multiple placeholder="anna.kowalska@gmail.com" value=<?=email?> required>
            <label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Temat</label>
            <input type="text" id="subject" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Temat wiadomości" required>
            <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900">Wiadomość</label>
            <textarea id="large-input" rows="4" class="block p-2.5 w-full text-sm text-black bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Napisz swojego maila" required></textarea>        
        
            <div class="horizontal">
                <button type="submit"  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" title="Akceptuj"> Akceptuj </button>
                <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="google.script.host.close()" title="Anuluj"> Odrzuć </button>
            </div>
        </form>
    </div>
    <dialog id="dialog-1" style="background: rgba(255, 255, 255, 0);">
        <div role="status" style="margin:auto; padding: 1em; background: rgba(255, 255, 255, 0);">
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </dialog>


  </body>
</html>