@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.test {
    text-align: center;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
dialog {
    padding: 5%;
}